/* Date 2025/22/05  Inventec Project
Name Project "Model Deployment and Basic Calling Ollama"
Vanessa Nava Alberto */

/*Principal staments*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Segoe UI", Roboto,  Helvetica, Arial, sans-serif;
}

/*Back body*/
body{
    background: linear-gradient(135deg,#20124d,#351c75);
    color: #e2e8f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*Information container*/
.container {
    width: 90%;
    max-width: 650px;
    height: 80vh;
    background: #8e7cc3;
    border-radius: 18px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/*Header of container*/
header{
    position: relative;
    padding: 16px;
    background: #4b0082;
    color: #ffff;
}

.header-1{
    text-align: center;
}

header h1{
    font-size: 1.6em;
    margin-bottom: 4px;
}

#history-btn{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);

    width: 0.8cm;
    height: 0.3cm;
    background:#6a5acd;
    border:none;
    border-radius: 10px;
    cursor: pointer;
}

/*Chat*/
main{
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.message{
    display: flex;
}

.message.user{
    justify-content: flex-end;
}

.bubble{
    max-width: 75%;
    padding: 12px 16px;
    border-radius: 16px;
    line-height: 1.4;
    animation: fadeln 0.3s ease;
}
.message.user .bubble{
    background: #483d8b;
    color: #fff;
    border-bottom-right-radius:4px;
}

.message.bot .bubble{
    background: #6a5acd;
    color: #e2e8f0;
    border-bottom-left-radius: 4px;
}

/*format*/
form{
    display: flex;
    padding: 12px;
    background: #674ea7;
    border-top: 1px solid #483d8b; 
}

#user-input{
    flex: 1;
    padding: 10px 14px;
    border: none;
    border-radius: 8px;
    background: #306;
    color: #e2e8f0;
}

#user-input:focus{
    outline: 2px solid #b4a7d6;
}

#send-btn{
    margin-left: 8px;
    padding: 10px 18px;
    background: #b4a7d6;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.3s;
}

#send-btn:hover{
    background: #b4a7d6;
}

/*animation*/
@keyframes fadenln{
    form{opacity: 0; transform: translateY(10px);}
    to {opacity: 1; transform: translateY(0);}
}

/*scrollbar*/
main::-webkit-scrollbar{
    width: 6px;
}
main::-webkit-scrollbar-thumb{
    background: #483d8b;
    border-radius: 10px;
}

/*attachment and submenu*/
.attach-container{
    position: relative;
    display: inline-block;
    margin-left: 8px;
}

#attach-btn{
    position: relative;
    top: -7pt;
    width: 35px;
    height: 35px;
    font-size: 2.5em;
    font-weight: 900;
    line-height: 50px;
    text-align: center;
    border:none;
    background: none;
    color: #4b0082;
    cursor: pointer;
    border-radius:80%;
    transition: transform 0.2s, color 0.2s;
}

#attach-btn-hover{
    color:#5e1c7d;
    transform: scale(1.2);
}

.attach-menu{
    display: none;
    position:absolute;
    bottom: 50px;
    right: 0;
    width: 120px;
    background-color: #601198;
    border: 1px solid #4c0d79;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(36, 15, 59, 0.3);
    z-index: 100;
}

.attach-menu button{
    display: block;
    width: 100%;
    padding: 8px 10px;
    border: none;
    background:none;
    color:#cfc4ee;
    cursor: pointer;
    text-align: left;
    font-weight: 500;
}

.attach-menu button:hover{
    background-color: #b4a7d64b;
}


