/* Date 2025/22/05  Inventec Project
Name Project "Model Deployment and Basic Calling Ollama"
Vanessa Nava Alberto */

/*Principal staments*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Segoe UI", Roboto,  Helvetica, Arial, sans-serif;
}

/*Back body*/
body{
    background: linear-gradient(135deg,#20124d,#351c75);
    color: #e2e8f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*Information container*/
.container {
    width: 90%;
    max-width: 650px;
    height: 80vh;
    background: #8e7cc3;
    border-radius: 18px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/*Header of container*/
header{
    padding: 16px;
    text-align: center;
    background: #4b0082;
    color: #ffff;
}

header h1{
    font-size: 1.6em;
    margin-bottom: 4px;
}

/*Chat*/
main{
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.message{
    display: flex;
}

.message.user{
    justify-content: flex-end;
}

.bubble{
    max-width: 75%;
    padding: 12px 16px;
    border-radius: 16px;
    line-height: 1.4;
    animation: fadeln 0.3s ease;
}
.message.user .bubble{
    background: #483d8b;
    color: #fff;
    border-bottom-right-radius:4px;
}

.message.bot .bubble{
    background: #6a5acd;
    color: #e2e8f0;
    border-bottom-left-radius: 4px;
}

/*format*/
form{
    display: flex;
    padding: 12px;
    background: #674ea7;
    border-top: 1px solid #483d8b; 
}

#user-input{
    flex: 1;
    padding: 10px 14px;
    border: none;
    border-radius: 8px;
    background: #306;
    color: #e2e8f0;
}

#user-input:focus{
    outline: 2px solid #b4a7d6;
}

#send-btn{
    margin-left: 8px;
    padding: 10px 18px;
    background: #b4a7d6;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.3s;
}

#send-btn:hover{
    background: #b4a7d6;
}

/*animation*/
@keyframes fadenln{
    form{opacity: 0; transform: translateY(10px);}
    to {opacity: 1; transform: translateY(0);}
}

/*scrollbar*/
main::-webkit-scrollbar{
    width: 6px;
}
main::-webkit-scrollbar-thumb{
    background: #483d8b;
    border-radius: 10px;
}

